*{
    font-family: 'Roboto'!important;
}

.alert-success,
.alert-danger, 
.err-label,
#registration-form, 
#resources-container, 
#two-factor-form,
#search-filter-bar,
#create-note-form, 
#create-notebook-form,
.edit-notebook-form,
.edit-note-form,
#registration-message,
#forgot-pwd-form, 
#reset-pwd-form, 
#password-reset-status, 
#user-profile, 
#profile-link,
#two-factor-form-title,
#two-factor-form,
/* NAVBAR */
#login-item,
#logout-item,
#registration-item,
#welcome-item,
#sf-item,
#profile-item,
#login-form-title,
#registration-form-title
{
    display: none;
}


@media (max-width: 576px){
    .custom-offset{
        margin-left: 9.5%;
    }
}


#search-bar{
    margin: 30px auto;
}


#search-field{
    width: 250px;
}

.selected-notebook{
    border: 2px solid blue;;
}

.container{
    display: flex;
}

.notebooks-container, .notes-container{
    margin-right: 80px;
}

.notebooks-container{
    border: 2px solid green;
}

.notes-container{
    border: 2px solid red;
}

.note{
    margin: 30px auto;
}