*:not(i){
    font-family: 'Roboto'!important;
}

body{
    padding-top: 50px;
}

.alert-success,
.alert-danger, 
.err-label,
#registration-form, 
#resources-container, 
#two-factor-form,
#search-filter-bar,
#create-note-form, 
#create-notebook-form,
.edit-notebook-form,
.edit-note-form,
#registration-message,
#forgot-pwd-form, 
#reset-pwd-form, 
#password-reset-status, 
#user-profile, 
#filters,
#two-factor-form-title,
#two-factor-form,
#forgot-pwd-form-title,
#reset-pwd-form-title,
/* NAVBAR */
#login-item,
#logout-item,
#registration-item,
#welcome-item,
#sf-item,
#profile-item,
#login-form-title,
#registration-form-title,
#fuzzy-search-item
{
    display: none;
}

#user-profile, #filters{
    width: 400px;
}

#search-field{
    width: 250px;
}

.create-note-btn-on{
    width: 50%;
    display: block;
    margin: 0 auto;
    margin-bottom: 3rem!important;
    margin-top: 1.5rem!important;

}

@media (max-width: 992px){
    .custom-offset{
        margin-left: 9.5%;
    }
    #user-profile, #filters, #search-field{
        width: 100%;
    }
    .create-note-btn-on{
        width: 100%;
    }
}


#search-bar{
    margin: 30px auto;
}

#notebooks-fiter-bar{
    list-style: none;
    margin: 0;
    padding: 0;
}

#notebooks-bar-header{
    width: 31.5%;
}


#resources-container{
    display: flex;
}

.selected-notebook{
    border: 1px solid #dee2e6!important;
    border-color: #007bff;
}

.card-title{
    display: inline-block;
}

.pointed-note-star{
    font-size: 1.5rem;
}

#arrow-right{
    display: none;
}

.fa-arrow-left, .fa-arrow-right{
    font-size: 40px;
}