*{
    font-family: 'Roboto';
}

#registration-form, #logout-link, #resources-container, #two-factor-form{
    display: none;
}

#search-bar{
    margin: 30px auto;
}

#search-filter-bar{
    display: none;
}

#search-field{
    width: 250px;
}

#create-note-form, #create-notebook-form{
    display: none;
}

.selected-notebook{
    border: 2px solid blue;;
}

.alert-danger, .err-label{
    display: none;
    color: red;
}

.alert-success{
    display: none;
    color: green;
}

.container{
    display: flex;
}

.notebooks-container, .notes-container{
    margin-right: 80px;
}

.notebooks-container{
    border: 2px solid green;
}

.notes-container{
    border: 2px solid red;
}

.edit-notebook-form{
    display: none;
}

.note{
    margin: 30px auto;
}

.edit-note-form{
    display: none;
}

#registration-message{
    display: none;
}

#forgot-pwd-form, #reset-pwd-form, #password-reset-status, #user-profile, #profile-link{
    display: none;
}