*{
    font-family: 'Roboto'!important;
}

body{
    padding-top: 96px;
}

.alert-success,
.alert-danger, 
.err-label,
#registration-form, 
#resources-container, 
#two-factor-form,
#search-filter-bar,
#create-note-form, 
#create-notebook-form,
.edit-notebook-form,
.edit-note-form,
#registration-message,
#forgot-pwd-form, 
#reset-pwd-form, 
#password-reset-status, 
#user-profile, 
#filters,
#two-factor-form-title,
#two-factor-form,
#forgot-pwd-form-title,
#reset-pwd-form-title,
/* NAVBAR */
#login-item,
#logout-item,
#registration-item,
#welcome-item,
#sf-item,
#profile-item,
#login-form-title,
#registration-form-title,
#fuzzy-search-item
{
    display: none;
}

#user-profile, #filters{
    width: 400px;
}

@media (max-width: 576px){
    .custom-offset{
        margin-left: 9.5%;
    }
    #user-profile, #filters{
        width: 100%;
    }

}


#search-bar{
    margin: 30px auto;
}

#notebooks-fiter-bar{
    list-style: none;
    margin: 0;
    padding: 0;
}

#search-field{
    width: 250px;
}

.selected-notebook{
    border: 2px solid blue;;
}

#resources-container{
    display: flex;
}

.notebooks-container, .notes-container{
    margin-right: 80px;
}

.notebooks-container{
    border: 2px solid green;
}

.notes-container{
    border: 2px solid red;
}

.note{
    margin: 30px auto;
}